<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.lockmyfile">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature
            android:name="android.hardware.type.watch"/> <!-- Read and write permission declaration for API level < 30 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="29"/> <!-- Read and write permission declaration for API level >= 30 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/calendar_month_outline"
            android:label="@string/disguise_app_name"
            android:name=".ApplicationLifecycleObserver"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".ShowAllFilesActivity"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>


        <activity android:name=".MainActivity"
                  android:excludeFromRecents="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>