<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.lockmyfile">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Read and write permission declaration for API level < 30 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="29"/>

    <!-- Read and write permission declaration for API level >= 30 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>

    <!-- for private web browsing -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".Utilities.ApplicationLifecycleObserver"
            android:allowBackup="true"
            android:icon="@drawable/calendar_month_outline"
            android:label="@string/disguise_app_name"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".PrivateBrowser.BrowserActivity">
        </activity>
        <activity android:name=".FakePassword.EmptyLockerActivity"
                  android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ViewFiles.ViewPdfActivity">
        </activity>
        <activity android:name=".ViewFiles.ViewVideoActivity">
        </activity>
        <activity android:name=".ViewFiles.ViewImagesActivity">
        </activity>
        <activity
                android:name=".Main.MainActivity">
        </activity>
    </application>

</manifest>